@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

p{
    margin: 0;
}

.logo{
    height: 25px;
    width: 25px;
}

.blue_lgo{
    background-color: #15a4fa;
}

.blc_lgo{
    background-color: #222222;
}

.logo div {
    border: 1px solid #ffffff;
}

.text {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 600;
    padding-left: 10px;
}

.top_menu{
    height: 70px;
}

.slider{
    background-image: url(Images/1.jpg);
    background-size: cover;
    background: rgba(0, 0, 0, 0.6);
    background-position: center;
    background-repeat: no-repeat;
    padding: 11% 0px;
    padding-bottom: 5%;
    color: #ffffff;
    opacity: .7;
    z-index: -1;
}
    


.slider_text {
    font-size: 50px;
    text-transform: uppercase;
    padding: 0px 70px;
}

.slider_p{
    padding: 15px 10px;
    text-align: center;
    border-bottom: 2px solid #15a4fa;
}

.slider a{
    text-decoration: none;
    color: #ffffff;
    border: 1px solid  #15a4fa;
    padding: 8px 27px;
    border-radius: 2px;
    margin-top: 15px;
    transition: 0.3s;
}

.send{
    transition: 0.3s;
}

.slider a:hover , .send:hover{
    background-color:  #15a4fa;
}

.slider i{
    font-size: 25px;
    padding-top: 8%;
    cursor: pointer;
}

.simple{
    background-color: #F6F9F9;
    margin: 0px;
    padding: 40px 0px;
}

.simple div{
    margin: 0px;
    text-align: center;
}

.simple div h4{
    color: #222222;
    font-size: 28px;
    line-height: 1.5;
}

.simple div p{
    font-size: 17px;
    opacity: 0.5;
}

.card_wrapper{
    text-align: center;
    padding: 20px 10px;
}

.card_wrapper > div{
    padding: 15px 0px;
}

.card_wrapper div i{
    font-size: 25px;
    color: #ffffff;
}

.card_wrapper h5{
    padding-top: 15px;
    font-size: 20px;
}

.card_wrapper p{
    font-size: 14px;
    color: rgba(153, 153, 153, 255);
}

i.fab.fa-telegram-plane {
    padding-top: 2px;
}

.icon_wrapper{
    background-color: #5fc3ff;
    display: inline-flex;
    /* height: 60px;
    width: 60px; */
    height: 150px;
    width: 150px;
    justify-content: center;
    align-items: center;
}

.gallary{
    background-color: #F6F9F9;
    padding: 40px 0px;
}

.sec_h {
    font-size: 28px;
}

.sec_p {
    font-size: 14px;
    color: rgba(153, 153, 153, 255);
}

.gallary_wrapper .img_wrapper{
    position: relative;
}

.gallary_wrapper {
    cursor: pointer;
    padding-top: 50px;
}

.img_wrapper img{
    height: 100%;
    width: 100%;
    padding: 9px;
}

.overly{
    position: absolute;
    top: 9px;
    left: 9px;
    height: calc(100% - 17px);
    width: calc(100% - 17px);
    background-color: #0086da;
    opacity: 0;
    transition: 0.3s;
    color: #ffffff;
}

.img_wrapper:hover .overly{
    opacity: 0.8;
}

.overly i{
    border: 1px solid #ffffff;
    padding: 15px;
    margin: 5px;
}

.contact_sec{
    background-image: url(Images/contact.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 60px 0px;
    position: relative;
}

.overly_contact{
    position: absolute;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 100%;
    background-color: #2A354A;
    opacity: 0.7;
}

.input_wrapper input , .input_wrapper textarea{
    background-color: transparent;
    outline: none;
    border: 1px solid #9999;
    margin: 7px 0px;
    padding: 10px;
    border-radius: 2px;
    color: #ffffff;
}

.input_wrapper textarea{
    min-height: 120px;
    max-height: 700px;
}

.submit{
    color: #ffffff;
}

.submit button{
    height: 40px;
    width: 125px;
    border-radius: 3px;
    border: 1px solid #15a4fa;
    background-color: transparent;
    outline: none;
    color: #ffffff;
}

.check p{
    padding-left: 10px;
    margin: 0;
}

.stay_h{
    color: #ffffff;
}

.stay_p{
    padding-bottom: 20px;
}

.footer{
    height: 70px;
}

.footer p{
    color: rgba(153, 153, 153, 255);
    font-size: 14px;
}

.social_wrappers i{
    background-color: #15A4FA;
    color: #ffffff;
    padding: 10px 0px;
    margin: 0 1px;
    border-radius: 1px;
    cursor: pointer;
}

i.fb{
    padding-left: 12px;
    padding-right: 12px;
}

i.twitter{
    padding-left: 9px;
    padding-right: 9px;
}

i.google{
    padding-left: 8px;
    padding-right: 8px;
}

i.linked{
    padding-left: 12px;
    padding-right: 12px;
}

div.lefting{
    top: 70px;
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transition: 0.3s
}

i.fas.fa-align-left{
    display: none;
}

/* .lgo_wrp{
    width: 25px;
    padding-right: 0px;
} */

.menus_wrapper{
    cursor: pointer;
}

a.nav-link {
    color: #222222 !important;
}

#nav, #nav div.container , nav.navbar.navbar-expand-lg.navbar-light.bg-white  {
    height: 70px;
}

.navbar{
    padding: 0px !important;
}



.carousel-img{
   
    opacity: .8;
    z-index: -1;
}
/* 
.w3l-clients .main-w3:before {
    width: 100%;
    content: "";
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0px;
    bottom: 0px;
    opacity: .6;
    z-index: -1;
} */
*, *::before, *::after {
    box-sizing: border-box;
}